<header class="showcase">
  <div class="content">
    <img src="/assets/trawe-tree-logo.png" class="logo" alt="Retreat logo" >
    <div class="text">
      <p>A place to be still.</p>
      <p>A place to listen.</p>
      <p>A place to be heard.</p>
    </div>
  </div>
</header>

<!-- Services -->
<section class="services">
  <div class="container grid-3 center">
    <div>
      <i class="fab fa-youtube fa-3x"></i>
      <h3>YouTube</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, molestiae!</p>
    </div><div>
      <i class="fas fa-chalkboard-teacher fa-3x"></i>
      <h3>Courses</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, molestiae!</p>
    </div><div>
      <i class="fas fa-briefcase fa-3x"></i>
      <h3>Freelancing Projects</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, molestiae!</p>
    </div>
  </div>
</section>

<!-- About -->

<section class="about bg-light">
  <div class="container grid-2">
    <div class="center">
      <i class="fas fa-laptop-code fa-10x"></i>
    </div>
    <div>
      <h3>About us</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ea adipisci hic ratione nihil similique omnis vitae architecto fuga, rem laudantium maiores tenetur ipsa maxime corporis aut blanditiis saepe! Eius voluptate expedita provident cum ipsa architecto sunt quod delectus error?</p>
    </div>
  </div>
</section>

<footer class="center bg-dark">
  <p>LOWElogic &copy; 2018</p>
</footer>
